.stickys{
  position: -webkit-sticky;
  position: fixed;
  float:right;
  right: 20px;
  bottom: 1px;
  transform: translateY(-50%); 
}
.stickys span{
 font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 0;
    right: 47px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
    color:white;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    transition: 0.50s;
}
.stickys:hover span{
  width:auto; padding:0 30px;overflow:visible;
}
.stickys span{
   background-color:#0651a9de;
    color:#fff;
    border-radius: 60px;
}
.stickys1{
  position: -webkit-sticky;
  position: fixed;
  float:right;
  bottom: 0;
  padding-top:0px;
  left: 20px;
  transform: translateY(-50%); 
}
.stickys1 span{
 font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 0;
    left: 47px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
    color:white;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    transition: 0.50s;
}
.stickys1:hover span{
  width:auto; padding:0 30px;overflow:visible;
}
.stickys1 span{
   background-color:#0651a9de;
    color:#fff;
    border-radius: 60px;
}
.stickys2{
  position: -webkit-sticky;
  position: fixed;
  float:right;
  right: 20px;
  bottom: 55px;
  transform: translateY(-50%); 
}
.stickys2 span{
 font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 0;
    right: 47px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
    color:white;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    transition: 0.50s;
}
.stickys2:hover span{
  width:auto; padding:0 30px;overflow:visible;
}
.stickys2 span{
   background-color:#0651a9de;
    color:#fff;
    border-radius: 60px;
}